.chords {
  border-collapse: collapse;
  display: table;
  margin-bottom: 9px; /* Same as bootstrap p margin-bottom. */
}
.chords .part {
  display: table-row;
}
.chords .part .bar, .chords .part .part-name {
  display: table-cell;
  vertical-align: middle;
}
.chords .part .bar {
  border: 1px solid;
  font-family: 'lilyjazzchord', sans-serif;
  height: 2em;
  padding: 0.7em 0.2em;
  text-align: center;
  width: 6em;
}
.chords .part .part-name {
  padding: 0 0.5em 0 0;
}
.chords .part.repeated .bar {
  height: 1em;
  padding: 0.2em 0;
}
.title {
  font-family: 'lilyjazzchord', sans-serif;
}
